<footer class="footer wrapper" id="site_footer">
  <div id="inner-footer" class="wrap">
    {%- include mainnav.html -%}
    <br>
    <div class="social-links">
      {%- include social.html -%}
    </div>

    <p class="source-org copyright">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }} | {{ site.footer_copyright_text }} | <a href="/about-this-site/">About this site</a></a></p>
  </div>
</footer>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script>
function page_load_scripts() {
  document.querySelector('footer .main-nav').style.display = 'none';
  if (window.innerHeight < window.document.body.offsetHeight) 
    document.querySelector('footer .main-nav').style.display = 'block';

  if (document.querySelector('h1#kyle-grovers')) 
    document.querySelector('footer .main-nav').style.display = 'none';
}
page_load_scripts();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
// Wrap every letter in a span
$('header .main-nav a').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span style='position: relative; display: inline-block;' class='animated-letters'>$&</span>"));
});

$('header .main-nav a').click(function(){
  anime.timeline({loop: false})
  .add({
      targets: this.children,
      translateY: ['-1px', '2px','-1px', 0],
      translateZ: 0,
      duration: 600,
      easing: 'linear',
      delay: function(el, i) {
        return 30 * i;
      }
    })
});
</script>
{% if page.title == 'Bio & Contact' %}
<script>
  $( 'form.floating-labels input' ).keyup(function() {
    if( $(this).val() ) {
        $(this).addClass('not-empty');
    } else {
        $(this).removeClass('not-empty');
    }
  });
</script>
{% endif %}
{%- include barbajs.html -%}
<!-- begin olark code -->
<script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7471-379-10-1115');</script>
<!-- end olark code -->
<script src="{{ "/assets/vantajs/three.r92.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/vantajs/vanta.fog.min.js" | relative_url }}" type="text/javascript"></script>
<script>
VANTA.FOG({
  el: "body",
  highlightColor: 0xffffff,
  midtoneColor: 0xfddcef,
  lowlightColor: 0x999999,
  baseColor: 0xffffff,
  blurFactor: 0.4,
  speed: 1,
  zoom: 1.5
});
</script>