<footer class="footer wrapper" id="site_footer">
  <div id="inner-footer" class="wrap">
    <nav role="navigation">
      <div class="social-links">
        {%- include social.html -%}
      </div>
    </nav>

    <p class="source-org copyright">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }} | {{ site.footer_copyright_text }} | <a href="/about-this-site/">About this site</a></a></p>
  </div>
</footer>
<script src="/assets/js/jquery-3.3.1.js"></script>
{% if page.title == 'Bio & Contact' %}
<script>
  $( 'form.floating-labels input' ).keyup(function() {
    if( $(this).val() ) {
        $(this).addClass('not-empty');
    } else {
        $(this).removeClass('not-empty');
    }
  });
</script>
{% endif %}
{%- include barbajs.html -%}