<footer class="footer wrapper" id="site_footer">
  <div id="inner-footer" class="wrap">
    {%- include mainnav.html -%}
    <br>
    <div class="social-links">
      {%- include social.html -%}
    </div>

    <p class="source-org copyright">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }} | {{ site.footer_copyright_text }} | <a href="/about-this-site/">About this site</a></a></p>
  </div>
</footer>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script>
function page_load_scripts() {
  document.querySelector('footer .main-nav').style.display = 'none';
  if (window.innerHeight < window.document.body.offsetHeight) {
    console.log('this page is long');
    document.querySelector('footer .main-nav').style.display = 'block';
  }

  if (document.querySelector('h1#kyle-grover')) console.log('homepage');
}
page_load_scripts();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
// Wrap every letter in a span
$('header .main-nav a').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span style='position: relative; display: inline-block;' class='animated-letters'>$&</span>"));
});

$('header .main-nav a').click(function(){
  anime.timeline({loop: false})
  .add({
      targets: this.children,
      translateY: ['-1px', '2px','-1px', 0],
      translateZ: 0,
      duration: 600,
      easing: 'linear',
      delay: function(el, i) {
        return 30 * i;
      }
    })
});
</script>
{% if page.title == 'Bio & Contact' %}
<script>
  $( 'form.floating-labels input' ).keyup(function() {
    if( $(this).val() ) {
        $(this).addClass('not-empty');
    } else {
        $(this).removeClass('not-empty');
    }
  });
</script>
{% endif %}
{%- include barbajs.html -%}
