---
layout: default
---
<div class="page client-work-single" style="border: 2px solid {{ page.main_color }}">
  {%- if page.title -%}
    <h1 class="page-heading"><a href="/client-work">Client Work</a> > {{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  {%- if page.desktop_full_homepage -%}
    <img src="{{ page.desktop_full_homepage }}" alt="{{ page.title }} Homepage Screenshot">
  {%- endif -%}

  <a href="{{ page.website }}" target="_blank" class="button" style="border-color: {{ page.main_color }}">Visit their website</a>

</div>
